
<nav class="navbar navbar-inverse ">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Virgyy App </a>
    </div>
    <button type="button" class="btn btn-info navbar-btn">  <i class="glyphicon glyphicon-user"></i>Iniciar sesion</button>
    <button type="button" class="btn btn-primary navbar-btn">  <i class="glyphicon glyphicon-home"></i>Home</button>
    <button type="button" class="btn btn-warning navbar-btn">  <i class="glyphicon glyphicon-flag"></i>Help</button>
    <button type="button" class="btn btn-success navbar-btn">  <i class="glyphicon glyphicon-file"></i>About</button>
    <button type="button" class="btn btn-danger navbar-btn">  <i class="glyphicon glyphicon-earphone"></i>Contact</button>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-list"></i>Menu <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#"><i class="glyphicon glyphicon-user"></i>Login</a></li>
          <li class="divider"></li>
          <li><i class="glyphicon glyphicon-plus"></i><%= link_to 'Nuevo', new_todo_path %></li>
        </ul>
      </li>
    </ul>
  </div>

</nav>
  
      
            